[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache
*resharper.user
_ReSharper.*/
*.user
*.bak
*.vspscc
*.vssscc
*.nupkg
GoogleClosure.Demo/Scripts/demo.js
GoogleClosure.Demo/Scripts/demo.js.map
GoogleClosure.Demo/Scripts/demo/deps.js

